<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.licheedev.serialtool">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name="com.licheedev.serialtool.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.licheedev.serialtool.activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged">

        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.deposit.DepositActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.SetManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.DepositRecordActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.OtherDepositActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.ClearDeviceTestActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.ManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.NetWorkTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.manage.DeviceRegisterActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.DataUploadActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.SettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.print.SystemPrintActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.DeviceManageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.manage.maintain.MaintainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.update.VersionUpdateActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.DeviceSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.PaperCurrencyDepositActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.SelectDepositActivitys"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.DepositManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.DepositDetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.UserManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.NetworkSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.CashRegisterSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.DynamicPwdSetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.SerialportSetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.ServiceSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.FunctionSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.EnvelopeSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.SystemInfoActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DeviceSetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DebugActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DeviceControlActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DepositErrorActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.SysDetailsInfoActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.BillBagsettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.SystemDebugActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DeviceSelfcheckActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.print.ClearingRecordActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.print.DealRecordActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.update.AndroidUpdateActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.update.UpdateSettingActivity"
            android:screenOrientation="landscape" />


    </application>

</manifest>